<!DOCTYPE html>
<html>
<head>
    <title>AI Monitoring Dashboard</title>

    <style>
        body{
            background:#121212;
            color:white;
            font-family:Arial;
            padding:30px;
        }

        h1{
            text-align:center;
        }

        .card{
            background:#1f1f1f;
            padding:20px;
            margin:auto;
            width:350px;
            border-radius:12px;
        }

        .online{
            color:lime;
            font-weight:bold;
        }
    </style>

</head>

<body>

<h1>🖥 AI Monitoring Dashboard</h1>

<div class="card">

<h2>My Computer</h2>

<p><b>CPU Usage:</b> <span id="cpu">{{ cpu }} %</span></p>

<p><b>RAM Usage:</b> <span id="ram">{{ ram }} %</span></p>

<p><b>Disk Usage:</b> <span id="disk">{{ disk }} %</span></p>

<p class="online">🟢 ONLINE</p>

</div>

<script>
async function updateMetrics() {
    const response = await fetch("/metrics");
    const data = await response.json();

    document.getElementById("cpu").innerText = data.cpu + " %";
    document.getElementById("ram").innerText = data.ram + " %";
    document.getElementById("disk").innerText = data.disk + " %";
}

updateMetrics();
setInterval(updateMetrics, 2000);
</script>

</body>
</html>